<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title translate="no" routerLink="/" style="cursor: pointer;">
        Sheshank Gupta
      </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/about">About</ion-button>
        <ion-button (click)="toggleDark()" expand="full">
          <span *ngIf="dark; else light"><ion-icon name="sunny-outline"></ion-icon></span>
          <ng-template #light> <ion-icon name="moon-outline"></ion-icon> </ng-template>
        </ion-button>
        <div id="google_translate_element"></div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>