/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css');

@font-face {
  font-family: futura;
  src: url('../src/assets/fonts/Futura.ttf');
}

* {
  font-family: futura !important;
  color: var(--ion-text-color);
}

body {
  position: relative !important;
  top: 0px !important;
}

.nav-space {
  height: 4.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.border-head {
  padding-bottom: 10px;
  padding-inline: 20px;
  border-bottom: 1px solid var(--ion-custom-border);
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

iframe.skiptranslate {
  display: none;
}

.goog-te-combo {
  border: none;
  background-color: transparent;
  outline: none;
}

.goog-te-gadget {
  color: transparent !important;
}

.skiptranslate span {
  display: none;
}

.skiptranslate {
  width: 140px;
}

.scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 30px;
  height: 50px;
  width: 50px;
  line-height: 2;
  border-radius: 50%;
  box-shadow: -6px -6px 8px var(--ion-color-dark-contrast);
  z-index: 999;
  background-color: var(--ion-back-rev);

  ion-icon {
    color: var(--ion-background-color);
  }
}

.footer {
  clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0% 100%);
  background-color: var(--ion-custom-footer1);
  height: 300px;
  overflow: hidden;
}

.footer-inner {
  clip-path: polygon(0 30%, 100% 82%, 100% 100%, 0% 100%);
  background-color: var(--ion-custom-footer2);
  height: 300px;
  display: flex;
  align-items: center;
}

.footer-text {
  margin-top: 190px;
  margin-left: 20px;
  color: var(--ion-custom-border);

  span {
    padding-top: 100px;
    font-size: 1.5rem;
  }
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
  background-color: transparent !important;
  box-shadow: none !important;
}

.goog-te-combo {
  background-color: var(--ion-toolbar-background);
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none;
}

// ion-content {
//   --offset-bottom: auto !important;
//   --overflow: hidden;
//   overflow: auto;

//   &::-webkit-scrollbar {
//     display: none;
//   }
// }