<ion-content [fullscreen]="true" #content class="main">
  <div class="nav-space"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-5 my-auto">
        <div class="img"
          [ngStyle]="dark ? {'box-shadow': '0 0 20px 20px #131313 inset', 'background-image': 'url(\'assets/images/dark.avif\')'}:{'box-shadow': '0 0 20px 20px #fffbf4 inset', 'background-image': 'url(\'assets/images/light.avif\')'}">
          <img src="assets/images/sheshank_gupta.jpg" alt="Sheshank Gupta">
        </div>
      </div>
      <div class="col-sm-6 p-5 about">
        <h3>Hello!</h3>
        <h2>I'm Sheshank Gupta</h2>
        <h4>
          currently working for Cybertron Technologies
          <br>
          A Front-end Angular Developer
          <br>
          and a Back-end Laravel Developer
        </h4>
        <p>I'm always eager to learn new technologies and implementing it in daily life for ease to the
          community.</p>
        <p>Social Links: </p>
        <ion-buttons>
          <ion-button href="https://www.linkedin.com/in/sheshankgupta/" target="_blank"><ion-icon
              name="logo-linkedin"></ion-icon></ion-button>
          <ion-button href="https://github.com/Sheshankgupta" target="_blank"><ion-icon
              name="logo-github"></ion-icon></ion-button>
          <ion-button href="https://www.instagram.com/its._me_.anonymous/" target="_blank"><ion-icon
              name="logo-instagram"></ion-icon></ion-button>
          <ion-button href="mailto:sheshankgpt2174@gmail.com" target="_blank"><ion-icon
              name="mail-open"></ion-icon></ion-button>
        </ion-buttons>
        <br>
        <ion-buttons>
          <ion-button routerLink="" class="btn-sty me-3" style="text-decoration: underline !important;">Hire
            me</ion-button>
          <ion-button routerLink="" class="btn-sty ms-3" style="text-decoration: underline !important;">Explore the
            projects</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
  <div class="nav-space"></div>
  <div class="container mb-4">
    <div class="bio">
      <div class="bio-head mb-4">
        <h2><span>About Me</span></h2>
      </div>
      <div class="bio-content">
        Hey there! I'm <span translate="no">Sheshank Gupta</span>, and I'm truly passionate about web development.
        Over the past 1 year, I've been fully immersed in web development, honing my skills and gaining an in-depth
        understanding of PHP frameworks like laravel, wordpress(CMS) along with JS frameworks like angular, some
        libraries like chartJs, typedJs. I absolutely thrive on challenges and find immense joy in pushing the
        boundaries of what's possible in my domain.
        <br>
        Throughout my career, I've been fortunate to collaborate with a diverse range of clients and teams, taking on
        complex problems head-on and delivering innovative solutions. People often recognize me for my knack for
        problem-solving, meticulous attention to detail, and unwavering commitment to producing top-notch results.
        <br>
        Thanks to my journey in the web development domain, I've acquired expertise in various areas such as laravel,
        angular etc. I'm always on the lookout for opportunities to expand my knowledge and stay up-to-date
        with the latest industry trends and advancements.
        <br>
        But it's not just about technical skills for me. I strongly believe in the power of collaboration and effective
        communication. I genuinely enjoy building strong relationships with both clients and colleagues, understanding
        their unique needs, and translating them into successful outcomes.
        <br>
        When I'm not completely engrossed in my work, you can find me indulging in writing stories and poems, playing
        games and interacting peoples, also I do love meeting new peoples.. I also use anonymous chat-bot of telegram.
        These
        activities
        not only bring me a sense of balance but also fuel my creativity and enhance my problem-solving abilities.
        <br>
        I'm incredibly excited to connect with fellow professionals who share my passion, work together on meaningful
        projects, and make a positive impact in my field.
        <br><br> Feel free to explore my portfolio and reach out to me.
        Let's join forces and create something truly remarkable together!
      </div>
    </div>
  </div>
  <div class="nav-space"></div>
  <div class="container">
    <div class="bio">
      <div class="bio-head my-4">
        <h2><span class="border-head">I'm working on</span></h2>
      </div>
      <div class="bio-content mb-4">
        Thinking out of the box is what I believe in doing. I believe learning is a process that never stops, even
        though you may become old enough there are things that you can still learn.A simple nature and simple choices,
        dream of the stars with feet on the ground. This is what I think and with the same in my heart, I am marching
        towards my goal.
      </div>
      <div class="works row d-flex justify-content-center">
        <div class="work col-sm-2">
          <img src="assets/logos/html5.svg" alt="HTML5-logo">
          <span>HTML</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/css.svg" alt="CSS-logo">
          <span>CSS</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/javascript.svg" alt="Javascript-logo">
          <span>JAVASCRIPT</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/bootstrap.svg" alt="Bootstrap-logo">
          <span>BOOTSTRAP</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/tailwind.svg" alt="Tailwind-logo">
          <span>TAILWIND</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/angular.svg" alt="Angular-logo">
          <span>ANGULAR</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/Ionic_Logo.svg" alt="Laravel-logo">
          <span>IONIC</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/laravel-2.svg" alt="Laravel-logo">
          <span>LARAVEL</span>
        </div>
        <div class="work col-sm-2">
          <img src="assets/logos/github.svg" alt="Git-logo">
          <span>GITHUB</span>
        </div>
      </div>
      <div class="mt-4"></div>
    </div>
    <div class="nav-space"></div>
    <!-- ---------------------------carousel experience------------------------------ -->
    <!-- <div class="container">
      <h2 class="mb-4"><span class="border-head">Experiences</span></h2>
      <div id="steps" class="mb-4">
        <div (click)="selectStep(1)" [class.active]="activeStep === 0">Cybertron Technologies</div>
        <div (click)="selectStep(2)" [class.active]="activeStep === 1">Softpro India</div>
      </div>

      <div class="article_container">
        <article [ngClass]="articles[0].class" id="cybt" expand="block">
          <h2>Web Developer</h2>
          <p>Feb 2023 - Present</p>
        </article>
        <article [ngClass]="articles[1].class" id="sftpr" expand="block">
          <h2>Apprenticeship Trainee</h2>
          <p>In softpro india technologies, I was appointed as a trainee.</p>
        </article>
      </div>
    </div> -->



    <!-- <ion-modal #cybt trigger="cybt">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Cybertron Technologies</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cybt.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>You will be prompted when closing this modal.</p>
        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-modal #sftpr trigger="sftpr">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Softpro India Technologies</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="sftpr.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>Feb-2023-Prese</p>
        </ion-content>
      </ng-template>
    </ion-modal> -->
    <!-- ------------------------------------------------------ -->
    <div class="container">
      <h2 class="mb-5"><span class="border-head">Experiences</span></h2>
      <div class="row d-flex align-items-stretch ">
        <div class="col-sm-2 text-end align-items-center">Feb 2023 - Present</div>
        <div class="col-sm-1 d-flex flex-column align-items-center box-container">
          <div class="line"></div>
          <div class="box"></div>
          <div class="line"></div>
        </div>
        <div class="col-sm-9 flex-column">
          <h4>Cybertron Technologies, Mohali</h4>
          <p>
            In cybertron technologies, currently I'm working as a web developer.
            I have been working here with PHP, laravel and angular also includes Git.
            <br>
            Within my working period I have experiences with variuos projects including front-end work, back-end work
            and also API creation.
          </p>
          <hr>
        </div>
      </div>
      <div class="row d-flex align-items-stretch ">
        <div class="col-sm-2 text-end align-items-center">Aug 2022 - Jan 2023</div>
        <div class="col-sm-1 d-flex flex-column align-items-center box-container">
          <div class="line"></div>
          <div class="box"></div>
        </div>
        <div class="col-sm-9 flex-column">
          <h4>Softpro India Technologies, Lucknow</h4>
          <p>
            In softpro india, I had completed my training and apprenticeship program.
            I had worked with HTML, CSS, VanillaJS, PHP, Java and Git/Gitbash.
            <br>
            Within my working period I have experiences with variuos projects including front-end work, back-end work
            and also API creation.
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <button (click)="scrollToTop()" class="scrollToTop">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </button>
  <app-footer></app-footer>
</ion-content>